<!--index.vtl-->
<h1>FetchFirst</h1>
<h3>In order to fetch, you must FetchFirst</h3>


<a href="/locations/new"><button type="button" name="button" class="btn-success btn">Add Location</button></a>
<a href="/locations"><button type="button" name="button" class="btn-success btn">View Locations</button></a>
<button type="button" name="button" class="btn-success btn">Add Dog Park</button>
<button type="button" name="button" class="btn-success btn">View Dog Parks</button>
<!--index.vtl-->
