<!--location.vtl-->
<h2>$location.getNeighborhood()</h2>

<ul>
#foreach ($dogPark in $dogParks)
  <li><a href="/locations/$location.getId()/dogparks/$dogPark.getId()">$dogPark.getName()</a></li>
#end
</ul>

<a href="/locations/$location.getId()/dogparks/new"><button type="button" name="button" class="btn-success btn">Add Dog Park</button></a>


<!--location.vtl-->
